-# edit form for notes, using rich text for content of the note
-# frozen_string_literal: true
= simple_form_for(@note) do |f|
  .form-inputs
    = f.input :title
    = f.label :content
    = f.rich_text_area :content

  .form-actions
    = f.button :submit, class: 'btn btn-outline-primary'
    