-# frozen_string_literal: true
= simple_form_for(@note) do |f|
  .form-inputs
    = f.input :title
    = f.input :unique_identifier
    = f.label :content
    = f.rich_text_area :content
    = f.association :tree
    -# = f.association :reference, label_method: :content

  .form-actions
    = f.button :submit, class: 'btn btn-outline-primary'
    