!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{description: "Threads page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "edit_notes"
  %body
    #wrapper
      = render "partials/navbar"
      %section#top-navbar
        %ul#note-n
          %li#note-ni-title.note-ni
            %h1.subtitle Subtitle - Title - ID
            %small Last Edited - 06/03/2021
          %li.note-ni
            %button
              = image_tag("Save_Icon_1.png", :alt => "save")
              %p.tn-p Save Note
          %li.note-ni
            %button
              = image_tag("Group_Icon_1.png", :alt => "group settings")
              %p.tn-p Group Settings
          %li.note-ni
            %button
              = image_tag("Group_Icon_1.png", :alt => "delete forever")
              %p.tn-p Delete Note
      %section#edit-note
        -# render form to edit an existing note
        = render "edit_form"
        