!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{author: "Team 19 COM3240 Sheffield Computer Science 2021"}/
    %meta{description: "Create a new note page"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "new_note"
    = stylesheet_link_tag "navbar"

    %body
    #wrapper
      = render "partials/navbar"

      %h1 New note

      -# render form to create a new note
      = render 'new_form'

      = link_to '< Back to index page', notes_path 
