<!DOCTYPE html>
<html lang="en">
    <head>
    <meta description="Threads page for Slipbox">
    <title>Threads</title>
    <%= stylesheet_link_tag "trees" %>
    <%= javascript_include_tag "https://d3js.org/d3.v6.min.js" %>
  
    </head>
    <body>  
        <!-- The Modal -->
        <div id="note-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">

                <span id="close-btn" class="close">&times;</span>
                <form>
                    <fieldset>
                        <legend> Note Info</legend>
                        <input type="text" id="note-title" value="title" required="">
                        <input type="text" id="note-id" value="id" required="">
                        <p class="mp">Last Edited at 10/04/2021 : 03:10 <p>
                        <button class="mbtn">Save changes</button>
                    </fieldset>
                    <fieldset>
                        <legend> Add note</legend>

                        <input type="text" id="add-id" value="title">
                        <input type="text" id="add-name" value="id">
                        <button class="mbtn">Submit </button>
                    </fieldset>
                    <fieldset>

                        
                        <button class="mbtn">Visit Note </button>
                        <button class="mbtn">Delete Note </button>

                    </fieldset>
                </form>
            </div>
        </div> 


        <div id="wrapper">
            <%= render "partials/navbar" %>

            <section id="navbar-top">
                <div class="tnc">
                   <button>
                        <%= image_tag("Account_Tree_Icon_1.png", :alt => "save") %>
                        <%= link_to 'Create a new Tree', new_tree_path %>
                   </button> 
                </div>
            </section>

            <section id="thread-tree">

               

                <% if Tree.any? %>
                    <section id="trees">
                    <h2>Trees</h2>
                    <hr class="solid"/>
                    <div class="slipFlexContainer">
                        <%= render @trees.reverse %>
                <% else %>
                    <p>Create a tree below</p>
                <% end %>

                <div id="thread-container">
                    <svg></svg>
                </div>                
            </section>
        </div>
    </body>
    
     <%= javascript_include_tag "threads" %> 

</html>



