<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width">
      <title> Basic example </title>
      <link rel="stylesheet" href="../../Treant.css">
      <link rel="stylesheet" href="exampleTree.css">
      <meta description="Threads page for Slipbox">
      <title>Threads</title>
      <%= stylesheet_link_tag "trees" %>
      <%= stylesheet_link_tag "navbar" %>
      <%= javascript_include_tag "https://d3js.org/d3.v6.min.js" %>
    </head>

    <body>
      <%= content_tag :div, class: "temp_information", data: {temp: @temp} do %>
      <% end %>
        <!-- The Modal -->
        <div id="note-modal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">

                <span id="close-btn" class="close">&times;</span>
                <form>
                    <fieldset>
                        <legend> Note Info</legend>
                        <input type="text" id="note-title" value="title" required="">
                        <input type="text" id="note-id" value="id" required="">
                        <p class="mp">Last Edited at 10/04/2021 : 03:10 <p>
                        <button class="mbtn">Save changes</button>
                    </fieldset>
                    <fieldset>
                        <legend> Add note</legend>

                        <input type="text" id="add-id" value="title">
                        <input type="text" id="add-name" value="id">
                        <button class="mbtn">Submit </button>
                    </fieldset>
                    <fieldset>


                        <button class="mbtn">Visit Note </button>
                        <button class="mbtn">Delete Note </button>

                    </fieldset>
                </form>
            </div>
        </div>

        <div id="wrapper">
            <%= render "partials/navbar" %>

            <section id="navbar-top">
                <div class="tnc">
                   <button id="navbar-top-first">
                        <%= image_tag("Account_Tree_Icon_2.png", :alt => "save") %>
                        <br/><%= link_to 'New Tree', new_tree_path %>
                   </button>
                </div>
            </section>

            <section id="thread-tree">



                <% if Tree.any? %>
                    <section id="trees">
                    <h2>Trees</h2>
                    <hr class="solid"/>
                    <div class="slipFlexContainer">
                        <%= render @trees.reverse %>
                <% else %>
                    <p>Load tree below</p>
                <% end %>

                <div id="thread-container">
                    <svg></svg>
                </div>
            </section>

        </div>
    </body>

     <!-- <%= javascript_include_tag "threads" %> -->

</html>
