!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{author: "Team 19 COM3240 Sheffield Computer Science 2021"}/
    %meta{description: "Create a new tree page"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag "notes"

  %body
    #wrapper
      = render "partials/navbar"
      #content-wrapper
        %section#top-navbar
          %p Creating a new tree for the Slipbox - "#{@slipbox_title}"
        %section#edit-note
          -# render form to edit an existing note
          = render "form"
        %p#go-back
          = link_to "< Back to " "\"#{@slipbox_title}\"", :back