-# frozen_string_literal: true
= simple_form_for(@reference) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :author
    = f.input :rest_of_reference
<<<<<<< HEAD
    = f.association :slipboxes, input_html: { class: 'select2' }

  .form-actions
    = f.button :submit
=======
    
  .form-actions
    = f.button :Add, class: 'btn btn-outline-primary'
    = f.button :Edit, class: 'btn btn-outline-primary'
>>>>>>> d8ffa78292f543bddb8b3ac3714e5f17a7836f85
