-# references table - includes pagination and possibly drag and drop functionality
-# allow destroying multiple references at once using the path below
= form_tag destroy_multiple_references_path, method: :delete do
  %table#ref-table.footable.table.table-bordered.toggle-arrow-tiny{"data-filter": "#filter", "data-page-size": "31"}
    %thead
      %tr
        %th Author
        %th Year
        %th Content
        %th Actions
        -# table column for checkboxes to allow deleting multiple at once
        %th{"data-sort-ignore": "true"}
          %input#selectAll{type: "checkbox"}/

    -# show table of references
    %tbody
      - @references.each do |reference|
        %tr
          %td= reference.author
          %td= reference.publication_year
          %td= reference.content
          %td 
            %p= link_to 'Edit', edit_reference_path(reference), class: 'ajax-modal btn btn-outline-primary btn-sm' 
            %p= link_to 'Delete', reference, method: :delete, data: { confirm: 'Are you sure you would like to delete this reference?' },  class: 'btn btn-outline-danger btn-sm'
          %td= check_box_tag "reference_ids[]", reference.id, false, class: 'selectable'

  #buttons
    -# submit button to delete all selected references
    .delete
      = submit_tag "Delete selected", class: 'btn btn-outline-primary', data: { confirm: 'Are you sure you would like to delete the selected references?' }
    -# paginate option to navigate through table pages
    .paginate
      = paginate @references
    -# show error-msg when no references are selected to be deleted
    .error-msg 
      = flash[:alert]