%h1 Listing references

%table
  %thead
    %tr
      %th Title
      %th Description
      %th 
      %th
      %th

  %tbody
    - Reference.find(params[:id]).slipbox_ids.each do |slipbox_id|
      %tr
        %td= Slipbox.find(slipbox_id).title
        %td= link_to 'Associated slipboxes', associated_slipboxes_path(reference)
        %td= link_to 'Show', reference
        %td= link_to 'Edit', edit_reference_path(reference)
        %td= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Reference', new_reference_path
