.modal-dialog
  .modal-content
    = simple_form_for @reference, remote: true do |f|
      .modal-header
        %h4.modal-title Editing reference
        %button.close{ type: :button, data: { dismiss: :modal } }
        %span &times;
      .modal-body
        = f.input :author
        = f.input :publication_year
        = f.input :content

      .modal-footer
      = f.button :submit, class: 'btn btn-outline-primary'