!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{description: "References page for Slipbox"}/
    %title References
    = stylesheet_link_tag "references"
  %body
    #wrapper
      = render "partials/navbar"
      %section#top-navbar
        %ul#note-n
          %li.note-ni
            %button
              = image_tag("Save_Icon_1.png", :alt => "save")
              %p.tn-p Save References
          %li.note-ni
            %button
              = image_tag("Group_Icon_1.png", :alt => "group settings")
              %p.tn-p Group Settings
          %li.note-ni
            %button
              = image_tag("Delete_Forever_Icon_1.png", :alt => "delete forever")
              %p.tn-p Delete All References
      %section#main-content
        %section#ref-display
          %h2 References
          #references-wrapper
          - @references.each do |reference|
            %table#ref-table
              %tr
                %th Author
                %th Notes
                %th Rest
              %tr
                %td= reference.author
                %td
                  %p.note note1
                  %p.note note2
                %td= reference.rest_of_reference
      %section#ref-form
        %h2 Create reference
        = render 'form'