<!DOCTYPE html>
<html lang="en">
    <head>
    <meta description="References page for Slipbox">
        <title>References</title>
        
        <%= stylesheet_link_tag "references" %>

    
    </head>
    <body>  
        <div id="wrapper">
            <%= render "partials/navbar" %>

            <section id="top-navbar">
                <ul id="note-n">
                    <li class="note-ni"><button><%= image_tag("Save_Icon_1.png", :alt => "save") %><p class="tn-p">Save References</p></button></li> 
                    <li class="note-ni"><button><%= image_tag("Group_Icon_1.png", :alt => "group settings") %><p class="tn-p">Group Settings</p></button></li>
                    <li class="note-ni"><button><%= image_tag("Delete_Forever_Icon_1.png", :alt => "delete forever") %><p class="tn-p">Delete All References</p></button></li>
                </ul>
            </section>
            <div id="main-content">
                <section id="ref-form">
                    <h2> Add/Edit References </h2>
                     <!-- <%= render 'form' %> -->
                </section>
                <section id="ref-display">

                    <h2> References </h2>
                    <div id="references-wrapper">
                        <table id="ref-table">
    
                            <tr>
                                <th>Reference Name</th>
                                <th>Notes</th>
                                <th>Filler</th>
                            </tr>
                            <tr>
                                <td>Example name</td>
                                <td>
                                    <p class="note"> note1 </p>
                                    <p class="note"> note2 </p>
                                </td>
                                <td>Filler information</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>