%h1 Listing edit_notes

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @edit_notes.each do |edit_note|
      %tr
        %td= edit_note.title
        %td= link_to 'Show', edit_note
        %td= link_to 'Edit', edit_edit_note_path(edit_note)
        %td= link_to 'Destroy', edit_note, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Edit note', new_edit_note_path
