<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<meta charset="UTF-8"/>
		<meta author="Team 19 COM3240 Sheffield Computer Science 2021"/>
		<meta description="Sign in page for Slipbox"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<%= stylesheet_link_tag "slipboxes" %>
		<title>Slipbox - My Slipboxes</title>
	</head>
	<body>
		<div id="wrapper">
			<%= render "partials/navbar" %>
			<section id="welcome">
				<%# display username and email on the welcome bar %>
				<h2>Welcome <%= current_user.username %></h2>
				<p>Signed in as: <%= current_user.email %></p>
				<%# check if there are any notes, if not don't display "last note worked on:" %>
				<% if Slipbox.any? %> <%# needs to be changed for note %>
					<%# show date and time in d/m/y-time - this is in UTC by default - could use 'try' %>
					<p>Last note worked on: <%= @recent_note.title %> - ADD ID HERE - <%= @recent_note.updated_at.strftime("%d/%m/%y-%I:%M%P") %></p>
				<% else %>
					<p>You're yet to write your first note!</p>
				<% end %>
			</section>
			<%# check if there are any slipboxes to display, if not, notify the user %>
			<% if Slipbox.any? %>
				<section id="slipboxes">
				<h2>My Slipboxes</h2>
				<hr class="solid"/>
				<div class="slipFlexContainer">
					<%# render slipboxes in reverse to append most recently updated on the left %>
					<%= render @slipboxes.reverse %>
			<% else %>
				<p>Create a slipbox below</p>
			<% end %>
				</div>
				<hr class="solid"/>
			</section>

      		<section>
        		<%= link_to "Notes (For testing)", "/notes" %> 
      		</section>

			<%# form to create a slipbox %>
			<section id="createSlipbox">
				<h2>Create a new Slipbox</h2>
				<%= render 'form' %>
			</section>
		</div>
	</body>
</html>
