!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Tree page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "trees"
    = javascript_include_tag "https://d3js.org/d3.v6.min.js"
  %body
    #wrapper
      = render "partials/navbar"
      #content-wrapper
        %section#thread-tree
        
        -# link to create a new tree, with the current slipboxes title passed as a parameter
        %section#createTree
          %h2
            = link_to 'Create a new Tree', new_tree_path(slipbox_title: @slipbox.title)
        
        -# check if the slipbox has any references, if it does, display them
        %p
          = @slipbox.title
        - if !@slipbox.references.empty?
          %section#showReferences
            %h2 References
            %hr.solid/
            .slipFlexContainer
            %p Title:
            - @slipbox.references.each do |ref|
              = link_to ref.content, reference_path(ref)
              %br
              %br

        -# check if the slipbox has any trees, if it does, display them
        - if !@slipbox.trees.empty?
          %section#trees
            %h2 Trees
            %hr.solid/
            %p Title:
            - @slipbox.trees.each do |tree|
              = link_to tree.title, tree_path(tree)
              %br
              %br
        %svg
        %section
  / <haml_loud> javascript_include_tag "threads" </haml_loud>

