!!!
%html{:lang => "en"}
  %head
    %meta{:description => "Threads page for Slipbox"}/
    %title Threads
    = stylesheet_link_tag "trees"
    = javascript_include_tag "https://d3js.org/d3.v6.min.js"
  %body
    -# The Modal
    #note-modal.modal
      -# Modal content
      .modal-content
        %span#close-btn.close ×
        %form
          %fieldset
            %legend Note Info
            %input#note-title{:required => "", :type => "text", :value => "title"}/
            %input#note-id{:required => "", :type => "text", :value => "id"}/
            %p.mp Last Edited at 10/04/2021 : 03:10
            %p
              %button.mbtn Save changes
          %fieldset
            %legend Add note
            %input#add-id{:type => "text", :value => "title"}/
            %input#add-name{:type => "text", :value => "id"}/
            %button.mbtn Submit
          %fieldset
            %button.mbtn Visit Note
            %button.mbtn Delete Note
    #wrapper
      = render "partials/navbar"
      %section#thread-tree
        %section#createTree
          %h2
            = link_to 'Create a new Tree', new_tree_path
        - if Tree.any?
          %section#trees
            %h2 Trees
            %hr.solid/
            .slipFlexContainer
              - @slipbox.trees.each do |tree|
                %p Title:
                = link_to tree.title, tree_path(tree)
        #thread-container

        %svg
        %section
  / <haml_loud> javascript_include_tag "threads" </haml_loud>
